.main {
  width: 80%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

.container-products {
  margin-top: 0;
}

.product {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  margin: 0.2rem;
  box-shadow: 0 0 1rem #00000025 inset;
}

/*.grid-responsive {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: .5rem;
}*/

.imgproduct {
  width: 100%;
  margin-top: 0px;
}

.imgproduct img {
  display: block;
  width: 50%;
  margin: auto;
  object-fit: scale-down;
}

.name {
  text-align: center;
  color: rgb(88, 84, 84);
}

.listprice {
  text-align: center;
  font-size: small;
  color: black;
}

.price {
  text-align: center;
  font-size: large;
  color: black;
  font-weight: bold;
}

.btn-shop {
  width: auto;
  display: block;
}

.btn {
  visibility: visible;
  width: 100px;
  height: 25px;
  margin: auto;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}


.rating span {
  font-size: small;
  color: rgb(240, 61, 61);
}

.installments {
  font-size: x-small;
}


.container-hover:hover {
cursor: pointer;
background-color: #00000025; 
}
