*{
  padding: 0;
  margin: 0;
}
.main-desk {
  width: 100%;
  height: auto;
  
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  display: flex;
  background-color: white;

}

.log {
}
.cart {
  position: fixed;
  z-index: 100;
  margin-top: 50px;
}

.buscar {
}

.main-responsive {
  display: none;
}

@media screen (min-width: 721px) {
  .main-desk {
    display: none;
  }

  


}
