*{
    margin: 0;
    padding: 0;
}

.search-bar {
  position: relative;
  border: none;
  border-bottom: 1px solid #7a7a7a87;
  height: 30px;
  width: 90%;
  outline: none;
  margin-bottom: 10px;
 
}

.search-bar .input {
  width: 100%;
}

.search-bar .lupa {
   display: flexbox;      
}

.login {
  visibility: hidden;
}

